{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Cadastrar Livro{% endblock title %}
{% block content %}
<div class="col-lg-6">
    <div class="card">
        <h2 class="card-header">Cadastrar Livro</h2>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary col-12">Cadastrar</button>
        </div>
    </div>
</div>
{% endblock content %}