{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Cadastro{% endblock title %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<div class="col-lg-6 mx-auto mb-4">
    <div class="card">
        <h2 class="card-header">Cadastro de usuário</h2>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-4 col-12">Cadastro</button>
            </form>
        </div>
        <div class="card-footer text-center">
            Já possui uma conta? <a href="{% url 'login' %}" class='card-link text-decoration-none'>Login</a>
        </div>
    </div>
</div>
{% endblock content %}